* {
  margin: 0;
  padding: 0;
}

:root {
  --mainBlue: #5cb2d2;
  --darkGray: #171717;
  --gray: #666666;
  --lightGray: #818181;
  --white: #ffffff;
  --black: #000000;
}

body {
  font-family: "Open Sans";
  background-color: var(--white);
  color: var(--gray);
}

h4,
h6 {
  text-transform: uppercase;
}
h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

p {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}
