* {
  margin: 0;
  padding: 0;
}

:root {
  --mainBlue: #5cb2d2;
  --darkGray: #171717;
  --lightGray: #818181;
  --white: #ffffff;
  --black: #000000;
}

body {
  background-color: var(--white);
  color: var(--darkGray);
}
